@import "~bootstrap/scss/bootstrap";

// General
.App{
    background-color: #EDF2FB;
    height: 100vh;
}

// Todos
.todo-container{
    width: 90%;

    .todo {
        background-color: #FDFD96;
        box-shadow: 10px 5px 5px #DEDEDE;
        border-radius: 10px;
        width: 200px;
        height: 200px;

        .delete-button:hover {
            color: red;
        }

        .todo-content{
            padding: 0 10px;
            width: 195px;
            height: 50px;
            word-break: break-word;
        }
    }
}