@import "~bootstrap/scss/bootstrap";

// General
.App{
    background-color: #EDF2FB;
    height: 100vh;
}

// Edit Modal
.edit-modal-container{
    display: none; 
    height: 250px;
    width: 250px;
    background-color: #FDFD96;
    position: absolute;
    margin: 25% 40%;

    .save-button:hover {
        color: red;
    }

    .close-button:hover {
        color: red;
    }


    .edit-todo{
        margin: 20% 35% 0 20%;
        height: 150px;
        width: 150px;
        border: none;
        background-color: #FDFD96;
    }
}

// Todos
.todo-container{
    width: 90%;

    .todo {
        background-color: #FDFD96;
        box-shadow: 10px 5px 5px #DEDEDE;
        border-radius: 10px;
        width: 200px;
        height: 200px;

        .edit-button:hover {
            color: red;
        }

        .delete-button:hover {
            color: red;
        }

        .todo-content{
            padding: 0 10px;
            width: 195px;
            height: 50px;
            word-break: break-word;
        }
    }
}